.App {
  text-align: center;
  /* background-color: black; */
}

.titlecontainer {
  display: flex;
  justify-content: center;
}

.makelist input {
  width: 500px ;
  outline: none;
  border: none;
  margin: 12px;
  border-radius: 5px;
  color: white;
  background-color: rgb(32,33,36);
}

.makelist {
  /* display: flex; */
  
  height: 40px;
  width: 600px;
  border: solid rgb(172, 172, 172) 0.5px;
  margin: 30px;
  border-radius: 7px;
  box-shadow: 2px 5px 5px;
}

.makelist button {
  padding: 2px 6px;
  color: rgb(172, 172, 172);
  outline: none;
  border-radius: 5px;
  border: solid rgb(172, 172, 172) 2px;
  background-color: rgb(32,33,36);

  /* padding: 5px; */
}
.makelist button:hover {
  box-shadow: 0px 0px  5px rgb(172, 172, 172);
  outline: none;
  border-radius: 5px;
  border: solid rgb(255, 255, 255) 2px;
  color: rgb(255, 255, 255);
}

.todolist:hover {
  box-shadow: 2px 2px 5px;
}

.todolist {
  margin: 20px;
  border: solid rgb(172, 172, 172) 0.1px;
  max-height: 400px;
  width: 250px;
  border-radius: 10px;
}

.todolist h3{
  margin-left: 20px;
  text-align: left;
  /* text-decoration: underline; */
  color:rgb(255, 255, 255) ;
}

.todolist p{
  text-align: left;
  margin-left: 20px;
  color:rgb(255, 255, 255) ;
}

.todolist:hover input {
  outline: none;
  border: solid rgb(172, 172, 172) 0.5px;
  margin: 10px;
  padding: 2px;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  background-color: #202124;
  width: 170px;
}


.todolist:hover button {
  padding: 3x;
  border-radius: 100px;
  border: none;
  color: rgb(172, 172, 172);
  outline: none;
  /* border: none; */
  background-color: rgb(32,33,36);
}




.todolist input{
  outline: none;
  border: solid rgb(32,33,36) 0.5px;
  margin: 10px;
  padding: 2px;
  border-radius: 5px;
  color: rgb(172, 172, 172);
  background-color: #202124;
  width: 170px;
}

.todolist button{
  padding: 3x;
  border-radius: 100px;
  border: solid rgb(32,33,36) 2px;
  color: rgb(32,33,36);;
  outline: none;
  /* border: none; */
  background-color: rgb(32,33,36);
}

button .submit :hover {
  color: greenyellow;
}

.todolist button:hover {
  /* box-shadow: 0px 0px  5px rgb(172, 172, 172); */
  outline: none;
  /* border-radius: 100px; */
  border: none;
  color: rgb(255, 255, 255);
}

.item {
  display: flex;
  
}

.item p {
  word-break: break-word;
  margin-right: 5px;;
  
}
  

.todolist:hover .delete {
  margin: 10px;
  border: none;
  box-shadow: 0px 0px;
}

.todolist span {
  display: flexbox;
  flex-wrap: wrap;
}

.title {
  
  
  word-break: break-word;
  margin-right: 2px;
  
}

.listitems {
  overflow-y: scroll;
  max-height: 240px;
} 

.topics {
  display: flex;
  flex-wrap: wrap;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(32,33,36);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* rgb(32,33,36) */